<%- include('./includes/head.ejs')%>
  <body>
    <header class="jumbotron bg-link"   >
        <div class="d-flex justify-content-center"><h1>SPARK FOUNDATION</h1></div>
        <div class="d-flex justify-content-center"><h1>    </h1></div>
        <div class="d-flex justify-content-center"><h3>WELCOME TO</h3></div>
        <div class="d-flex justify-content-center"><h1>SIMPLE BANKING</h1></div>
        <div class="d-flex justify-content-center"><h1>SYSTEM</h1></div>
    </header>
     
       
           
        
        
        <a href="/viewall">
            <div class="col-md-12 text-center">
                <button class="btn btn-primary col-md-1" type="submit">View</button>
            </button>
            </div>
        </a>
       
<%- include('./includes/end.ejs') %>  